@mixin display-flex($justify: flex-start, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin h2-standard {
    font-size: 20px;
    font-weight: 100;
}

@mixin h3-standard {
    font-size: 18px;
    font-weight: 100;
}

@mixin p-standard {
    font-size: 14px;
}

@mixin black-cta {
    padding: 15px;
    font-size: 20px;
    background-color: black;
    color: white;
}

@mixin nobcg-cta {
    padding: 15px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

@mixin white-cta {
    padding: 15px;
    font-size: 20px;
    background-color: white;
    color: black;
} 

@mixin container {
    height: 100%;
    width: 90%;
    margin: auto;
}