@mixin display-flex($justify: flex-start, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin h3-standard {
    font-size: 18px;
    font-weight: 0;
}

@mixin h2-standard {
    font-size: 16px;
    font-weight: 0;
}

@mixin p-standard {
    font-size: 14px;
}

@mixin black-cta {
    background-color: black;
    color: white;
}

@mixin nobcg-cta {
    background-color: transparent;
    color: black;
}

@mixin white-cta {
    background-color: white;
    color: black;
} 